{{define "appDetail"}}
<div class="flex my-4">
    <img class="w-24 h-24" src="{{.app.AppIcon}}" alt="{{.app.AppName}}" title="{{.app.AppName}}">
    <div class="flex-col ml-4">
        <h1 class="text-xl">
            {{.app.AppName}}
        </h1>
        <span class="text-gray-400">{{.app.CreatedAt}}</span>
        <p>
            {{.app.AppDesc}}
        </p>
    </div>
</div>
<h1 class="mt-4 mb-2">进行中的活动</h1>
<hr>
<div class="list">
    {{range .activities}}
    <li class="hover:text-blue-600">
        <a href="/activities/{{.Code}}">{{.ActivityName}}</a>
    </li>
    {{end}}
</div>
{{template "paging" .paging}}

{{end}}
