{{define "activityDetail"}}
<div class="flex mt-4 items-start">
    <div class="w-64 bg-gray-100 py-4 px-2 flex flex-col items-center">
        <img class="w-24 h-24 mb-2" src="{{.app.AppIcon}}" alt="{{.app.AppName}}">
        <h1>{{.app.AppName}}</h1>
        <span>{{if .app.AppAuthor}}{{.app.AppAuthor}}{{else}}佚名{{end}}</span>
        <p>
            {{.app.AppDesc}}
        </p>
        <a href="/app/{{.app.Code}}" class="text-blue-600">查看应用</a>

        <!-- <hr class="my-2">
        <h1>订阅此App作者的消息</h1>
        <div class="flex m-2 items-center">
            <input class="p-2 mr-2 w-42" type="email" name="email" placeholder="请输入邮箱...">
            <a href="">订阅</a>
        </div> -->
    </div>
    <div class="flex-1 ml-4">
        <h1>
            {{.activity.ActivityName}}
        </h1>
        <span class="text-gray-400">{{.activity.CreatedAt}}</span>
        <hr class="my-4">
        <div class="list">
            <ol>
                {{range .codes}}
                <li class="flex p-2">
                    {{if not .Used}}
                    🔥
                    {{end}}
                    <div class="flex-1">
                        <span>{{.InviteCode}}</span>
                        <span class="text-gray-400 text-sm">({{.Count}})人已复制</span>
                    </div>

                    {{if .Copied}}
                    <a href="javascript:copy('{{.Code}}')" class="text-gray-400 mr-2">
                        已复制
                    </a>
                    {{else}}
                    <a href="javascript:copy('{{.Code}}')" class="text-blue-600 mr-2">
                        复制
                    </a>
                    {{end}}

                    {{if .Used}}
                    <span class="text-gray-400 mr-2">已使用</span>
                    {{else}}
                    <a href="/api/codes/{{.Code}}/used" class="mr-2">
                        确认激活
                    </a>

                    {{end}}

                </li>
                <hr>
                {{end}}
            </ol>
        </div>
        {{template "paging" .paging}}
    </div>

    <script>
        function copy(code) {
            fetch("/api/code-copy-logs", {
                method: "post", body: JSON.stringify({
                    "invite_code": code,
                }), headers: {
                    "content-type": "application/json"
                }
            }).then(res => res.json()).then(res => {
                let data = res.data || {}
                let message = res.message || ""
                let { data: code = "" } = data
                let r = confirm("长按复制!!!\n激活码: " + (code || message))
                location.href = ""
            })
        }
    </script>
</div>
{{end}}
